.home-route {
  max-width: 1200px;
  margin: auto;
}
.photo-list-style{
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}
footer{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #070101;
  height: 50px;
  width: 100%;
  color: wheat;
  padding: 20px;
}